<%if(currentUser){%>
<%- include ../partials/_navbar.ejs%>
<%}%>

<h2>List of spots</h2>
 
<%spots.forEach((spot) => { %>
 <h3><%=spot.name%></h3>
 <h4><%=spot.location%></h4>
 <p><%=spot.description%></p>
 <a href="/spots/<%=spot._id%>">View details</a>
<% }) %>

