<%if(currentUser){%>
<%- include ../partials/_navbar.ejs%>
<%}%>
<button id="map-button" onClick="turnmap()"><i class="fas fa-map-marker-alt fa-lg"></i></button> 
<div>
<div class="spots-card align-center">
      <div class="container  bg-light py-5 spots-container">
      <h2 class="mb-3 ">List of spots</h2>
      <div class="row">
      <%spots.forEach((spot) => { %>
      <div class="col-md-4">
        <div class="card mb-4" style="width: 100%">
          <div class="card shadow-sm">
            <img class="card-img-top" src="<%=spot.image%>" alt="Card image cap" width="286" height="180">
            <div class="card-body">
              <h5 class="card-title"><h3><%=spot.name%></h3></h5>
              <h6 class="card-subtitle"><%=spot.city%></h6>
              <p class="card-text description"><%=spot.description%></p>
              <a href="/spots/<%=spot._id%>" class="btn btn-primary">View details</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      </div>
    </div>

    <div id="show-map"  class="map-align">
    </div>

  </div>
</div>


<a href="/spots/new" onclick="getLocation()" class="btn btn-lg btn-primary btn-block mt-2 fixed-bottom btn-circle btn-xl mb-2 mr-2"> <i class="fas fa-plus"></i>
</a>

<script>
  
var city = document.getElementById('city');

             
function callback(data)
{
  
  city.innerHTML = data.city;
  console.log(typeof data.city)

}

var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'https://geoip-db.com/jsonp';
var h = document.getElementsByTagName('script')[0];
h.parentNode.insertBefore(script, h);
           
  </script>

<script>
mapboxgl.accessToken =<%-`"${token}"`%>;
var map = new mapboxgl.Map({
container: 'show-map', // container id
style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
center: [<%=location%>],// starting position [lng, lat]
zoom: 11 // starting zoom
});

<%spots.forEach((spot) => { %>
var popup = new mapboxgl.Popup()
    .setText("<%=spot.name%>");
new mapboxgl.Marker({name: 'a',anchor: 'center', color:'red'})
.setLngLat([<%=spot.location.coordinates%>])
.setPopup(popup)
.addTo(map);
<% }) %>
</script>